<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="http://helpx.adobe.com/content/dam/help/en/Acrobat-com/ac_upload_file.png">
    </a>
  </div>
</div>
</nav>
