<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>FCC File Metadata Microservice</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="http://helpx.adobe.com/content/dam/help/en/Acrobat-com/ac_upload_file.png">
            </a>
          </div>
        </div>
      </nav>

      <div class="jumbotron">
        <h1>File Metadata Microservice</h1>
        <p>Just another file uploading metadata analysing microservice for the freecodecamp curriculum.</p>
      </div><!-- end jumbotron -->

      <div class="panel panel-default">
        <div class="panel-heading">
          Objective
        </div>
        <div class="panel-body">
          Build a full stack JavaScript app that is functionally similar to <a href="https://cryptic-ridge-9197.herokuapp.com/">this</a>.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Here are the specific user stories you should implement for this project:
        </div>
        <div class="panel-body">
          <ul>
            <li>I can submit a FormData object that includes a file upload.</li>
            <li>When I submit something, I will receive the file size in bytes within the JSON response</li>
            <li>You may want to use <a href="https://www.npmjs.com/package/multer">this</a> package</li>
          </ul>
        </div>
      </div><!-- end panel -->
    </div><!-- end container -->
  </body>
</html>
